body
{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    font-family: "Lato", sans-serif;
    color: #000000;
    background-color: #aaabbc;
    font-size: 18px;
}

h1,h2
{
    font-family: "Staatliches", cursive;
}

img
{
    width: 45%;
    margin-left: 5%;
    max-width: 300px;
    margin-bottom: 15px;
}

#forecast
{
    padding: 5px;
    margin-bottom: 10px;
    border-style: solid;
    overflow: auto;
}

.true
{
    background-color: #fcf6b8;
}

.false
{
    background-color: #11114f;
    color:#e5e5e5;
}

#foreBody h1
{
    text-align: center;
}

#stateBox, #cityBox
{
    display: inline;
    margin-right: 8px;
}

#foreBody
{
    border-top: solid;
    margin-top: 30px;
}

button
{
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

h3
{
    width: 48%;
    clear:left;
    float: left;
    overflow: auto;
    margin-left: 2%; 
}

#TABLE
{
    /*width: 120%;*/
    border: 2px;
    border-style: solid;
    border-collapse: collapse;
    background-color: #e5e5e5;
}

#TABLE img
{
    width: 100%;
}

td
{
    border-right-style: solid;
    padding: 5px;
    text-align:center;
}

#CENTER
{
    text-align:center;
    border-style:none;
    margin-bottom: 15px;
}

h2
{
    padding-left: 10px;
}